/* CSS styles for the website */

/* Header styles */
/* CSS styles for the website */

/* Header styles */
header {
  background-color: #707070;
  padding: 20px;
  font-size: 30px;
  font-variant: small-caps;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}
  
  a:link, a:visited {
    color: blue;
  }